#wrapper{
  position: relative;
}
#video{
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
}
#camera-canvas{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
  padding: 2px;
  border: 4px solid var(--nk-primary-blue-500);
  border-radius: var(--radius-l);
}
#rect-canvas{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}
#qr-msg{
  position: absolute;
  top: 500px;
  left: 0px;
}